{% extends "userprofiles/base.html" %}
{% load static form_tags i18n %}
{% block content %}
<div class="container-fluid">
    <form method="post" action="{{request.path}}" class="login-form js-form-ajax">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Email address" %}</label>
            {{ form.email|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.email.label }}
          <div id="emailHelp" class="form-text">{% trans "Enter a valid email address." %}</div>
        </div>
        <div class="mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">{% trans "First Name"%}</label>
            {{ form.first_name|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.first_name.label }}      
        </div>
        <div class="mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">{% trans "Last Name" %}</label>
            {{ form.last_name|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.last_name.label }}      
        </div>
        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">{% trans "Password"%}</label>
            {{ form.password1|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.password1.label }}      
        </div>
        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">{% trans "Password confirmation"%}</label>
            {{ form.password2|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.password2.label }}      
        </div>
        <div id="passwordHelp" class="form-text">Your password can’t be too similar to your other personal information.</div>
        <div id="passwordHelp" class="form-text">Your password must contain at least 8 characters.</div>
        <div id="passwordHelp" class="form-text">Your password can’t be a commonly used password.</div>
        <div id="passwordHelp" class="form-text">Your password can’t be entirely numeric.</div>
        <button class="btn btn-primary js-modal-one-button-btn" type="submit">Create account</button>
    </form>
</div>
{% endblock content %}